/* CUSTOM CONTENT
----------------------------------------------------------------------------- */
/* Imports */
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
/* Center Class */
.center{
	display:block;
	text-align:center;
	margin:0 auto;
}
/*TEMPORARY HIDES
#PublicNavigator,#MemberNavigator{display:none}*/
/* HIDES
----------------------------------------------------------------------------- */
/* Hide Gamebanana Items */
#SubmissionType,
.IconSheet.Beacon,
.ContentColumn > .Module:hover .ModuleTools,
#FullscreenModuleWrapper > .Module:hover .ModuleTools  {
	display:none!important;
}
/* Advertisements */
div#AtfLeaderboard,div#BtfLeaderboard{
	width:700px;
}
#AtfLeaderboardModule, #BtfLeaderboardModule, #AtfSquareBannerModule, #BtfSquareBannerModule {
	background:#1e1f21;
}